.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.completed-task {
  opacity: 0.5;
}

.btn-filter-ctive {
  background-color: aquamarine;
}

.error-value {
  outline: 1px solid red;
}

.error-message {
  color: red;
}
