ul {
  list-style: none;

  padding: 0;
}

button {
  cursor: pointer;
}

.todolist {
  border: 1px solid red;
  padding: 20px;
}

.taskInput {
  margin-right: 10px;
}
.task {
  display: flex;
  align-items: center;
}

.completedTask input,
.completedTask span {
  opacity: 0.5;
}

.btnDel {
  width: 20px;
  height: 20px;
  margin-left: auto;
  position: relative;
}

.btnDel::after,
.btnDel::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 10px;
  background-color: black;
}
.btnDel::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.btnDel::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn + .btn {
  margin-left: 10px;
}

.btn {
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  background-color: rgb(211, 164, 255);
}
.btn:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 255, 0.2);
}

.btnActive {
  background-color: aquamarine;
  border: none;
}

.error {
  color: red;
}

.errorInput {
  outline: 1px solid red;
  border: none;
}
